#cart-container {
    position: fixed;
    right: 0px;
    width: 35%;
    max-width: 600px;
    min-width: 400px;
    min-height: 100vh;
    bottom: 0;
    top: 0;
    margin: 0 auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 15px 40px;
    border-left: 0.5px solid rgb(127, 64, 25);
    animation: to-left 1s linear forwards;
    overflow-y: scroll;

    &.micromobile {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        height: 100vh;

        & #cart-buttons-container {

            & button {
                width: 70%;
            }
        }
    }

    & #close-cart-icon {
        position: absolute;
        right: 20px;
        height: 20px;
        width: 20px;
        color: brown;

        &:hover {
            cursor: pointer;
        }
    }

    & h6 {
        margin: 30px 0px;
        color: brown;
        font-weight: 700;
        font-size: 1.1em;
        ;

        & #free-delivery-msg {
            color: rgb(210, 129, 37);
        }
    }

    // & #main-cart-info-container {
    //     max-height: 60%;
    // }

    & ul {
        padding-left: 0;
        border-top: 1px solid rgb(127, 64, 25);
        border-bottom: 1px solid rgb(127, 64, 25);
        // overflow-y: scroll;
        // overflow-x: hidden;
        height: fit-content;

        & li {
            margin: 30px auto;
            min-height: 150px;
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding-bottom: 30px;
            gap: 15px;
            border-bottom: 0.5px solid lightgrey;

            &:last-child {
                border: none;
                margin-bottom: 0;
            }

            & .cart-prod-img-and-info {

                display: flex;
                gap: 20px;

                & img {
                    height: 150px;
                    width: 100px;
                    object-fit: cover;
                }

                & .cart-product-info {
                    display: flex;
                    flex-direction: column;

                    & p,
                    span {
                        font-size: 0.9em;
                        color: rgb(127, 64, 25);
                    }

                    & .prod-in-cart-name {
                        font-weight: 700;
                        text-transform: lowercase;
                    }

                }
            }

            & .cart-product-price-qty {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                padding-top: 30px;

                & .prod-in-cart-price {
                    font-weight: 500;
                    font-size: 1em;
                    padding: 5px 10px;
                    background-color: brown;
                    color: rgb(252, 203, 147);
                    border-radius: 4px;
                    margin: 10px 0px;
                }

                & span {
                    min-width: 20px;
                    text-align: center;
                }

                & .prod-in-cart-qty {
                    border: 1px solid rgb(127, 64, 25);
                    border-radius: 4px;
                    padding: 3px 10px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color: rgb(127, 64, 25);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    & #total-container {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 30px;

        & #total-word-and-price {
            border-bottom: 0.5px solid brown;
            text-shadow: 1px 1px 1px rgb(195, 178, 178);
            ;


            & #total-word {
                color: brown;
                font-weight: 700;
                font-size: 1.1em,
            }

            & #total-price {
                color: rgb(182, 116, 75);
                font-weight: 700;
                font-size: 1.25em;
            }
        }

        & #total-products-qty {
            color: brown;
        }
    }

    & #cart-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;

        & button {
            width: 60%;
            border: none;
            padding: 10px;
            border-radius: 5px;
            background-color: brown;
            color: rgb(210, 129, 37);

            &:first-child {
                background-color: rgb(210, 129, 37);

                & a {
                    color: brown;
                    text-decoration: none;
                }

                &:hover {
                    background-color: rgb(212, 144, 66);
                }
            }

            &:hover {
                background-color: rgb(178, 72, 72);
            }
        }
    }
}

@keyframes to-left {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}